@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&family=Roboto:ital,wght@0,100;1,300&display=swap');
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(235, 235, 235);
    opacity: 1;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 200;
  }
  *{
    box-sizing: border-box;
    transition: all
  }

@keyframes animation {
    from{
        right: 0px;
        transform: scaleX(0);
        opacity: 1;
        width: 10px;
        height: 100%;
    }
    to{
        right: 200px;
        transform: scaleX(100);
        opacity: 0.5;
        width: 20px;
        height: 100%;
    }
}
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(235, 235, 235);
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 200;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(235, 235, 235);
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 200;
  }
  
body{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#1e942e79, #00270de8),  url(https://images.unsplash.com/photo-1546587348-d12660c30c50?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8bmF0dXJhbHxlbnwwfHwwfHw%3D&w=1000&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.put-before{
    position: relative;
    overflow: hidden;
}
.double>input:active{
    background-color: #00270d6b;
    transition: all .9s;
}
.double>input:focus{
    background-color: #00270d6b;
    transition: all .9s;
}
.double>input:hover{
    background-color: #00270d6b;
    transition: all .9s;
}
.put-before>input:focus, .put-before>textarea:focus{
    background-color: #00270d6b;
    transition: all .9s;
}
.put-before>input:active, .put-before>textarea:active{
    background-color: #00270d6b;
    transition: all .9s;
}
.put-before:active::before{
    animation: animation;
    animation-duration: .9s;
    animation-timing-function: ease;
    animation-fill-mode: both;
}
.put-before:hover::before{
    animation: animation;
    animation-duration: .9s;
    animation-timing-function: ease;
    animation-fill-mode: both;
}
.put-before::before{
    content: "";
    position: absolute;
    border-radius: 50%;
    background-color: #00270de8;
    z-index: -1;
    top: 0;
    right: 0;
}
.loading-count{
    position: absolute;
    color: white;
    font-size: 40px;
}
main{
    filter: blur(30px);
}

form{
    width: 100%;
}
.main-div div{
    margin: 1.5em;
    width: 500px;
    display: flex;
}

input, textarea{
    position: relative;
    outline: none;
    padding: 0 5px;
    color: white;
    margin: 0;
    width: 100%;
    background: transparent;
    border: 1px rgb(211, 211, 211) solid;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 300;
}
.submit-button{
    width: 100%;
    font-weight: 200;
    position: relative;
}

input{
    height: 30px;
}

.double{
    display: flex;
    justify-content: space-between;
}
.double input{
    width: 47%;
    transition: all .9s;
}
@media (max-height: 350px) {
    body{
        height: 350px;
        width: 100%;
    }
}
@media (max-width: 550px) {
    body{
        width: 100%;
        max-height: 1000px;
        margin: 0;
        background-origin: content-box;
        background-repeat: repeat;
    }
    .main-div div{
        width: 300px;
    }
}
@media (max-width: 280px) {
        .main-div div{
            width: 200px;

        }
        input{
            align-items: center;
            height: 20px;
            font-size: xx-small;
        }
        textarea{
            height: 100px;
            font-size: xx-small;
        }
}