@import url('https://fonts.googleapis.com/css?family=Poppins');
@keyframes scroll {
    0%{
        transform: translateY(0px);
    }100%{
        transform: translateY(32px);
    }
}
@keyframes HireAnim {
    from{
        box-shadow: 1px 1px 5px 5px;
    }to{
        box-shadow: none;
    }
}
*{
    scroll-behavior: smooth;
}
body{
    display: flex;
    /* height: 100vh; */
    margin: 0;
    font-family: 'Poppins' ,Arial, Helvetica, sans-serif;
    width: 100%;
    justify-content: center;
}
body>div{
    max-width: 1550px;
}
.HireAnim{
    animation: HireAnim .5s ease-in-out .2s infinite alternate-reverse;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav-container li{
    cursor: pointer;
}
.footer .div1 {
    cursor: pointer;
}
.div1 a{
    color: #4c56da;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
}
.nav-container{
    background: #3f48cc;
}.nav-container a{
    color: white;
}header{
    display: flex;
    justify-content: space-between;
    padding: 2em;
}
header .logo{
    color: #00e1ff;
    font-weight: bold;
}
header nav ul{
    display: flex;
}header nav ul a{
    display: block;
    padding:  0 1em ;
}.social-header{
    display: none;
}
.hero{
    background: #4c56da;
    color: white;
    display: grid;
    text-align: center;
    padding: 5em
}.meet{
    display: flex;
    margin: 0 auto;
    width: 200px;
    font-weight: bold;
    color: #ff64cb;
    justify-content: center;
}.meet span img{
    height: 15px;
    margin-top: 1.3em;
}.meet span{
    margin-right: .5em;
}.scroll{
    border: white 3px solid;
    border-radius: 30px;
    height: 60px; width: 25px;
}.scroll .scroll-circle{
    border: white 1px solid;
    margin: 3px 2px;
    height: 20px; width: 75%;
    border-radius: 50%;
    background-color: white;
    animation: scroll 1s cubic-bezier(.61,0,.13,.98) .5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}.scroll-div{
    display: flex;
    justify-content: center;
}section{
    padding: 4em 2em;
    text-align: center;
}
.featured{
    position: relative;
}.featured::before{
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #bfd5ff;
    top: 0;
    left: 0;
    z-index: -1;
}.subtitle{
    text-transform: uppercase;
    font-weight: bold;
    color: #8400ff;
    letter-spacing: .2em;
    font-size: .70em;
}
.featured-title{
    color: black;
    font-weight: bold;
    font-size: 1.3em;
    margin-top: -.4em;
    display: block;
}
.featured-desc{
    color: #3b3b3b;
    margin-bottom: 3em;
    font-size: .85em;
    line-height: 1.8em;
    font-weight: 500;
}
.skills{
    background: #64ff92;
}
.skills-container ul li{
    background: white;
    padding: 2em;
    border-radius: 1em;
    margin-bottom: 1em;
}
.skills-container ul li .icon-container{
    height: 100px;
    display: grid;
    place-content: center;
    margin: 0 auto;
}
.skills-container ul li img{
    height: 90px;
}
.skills-container ul li .skill-title{
    font-weight: bold;
}
.skills-container ul li .featured-desc{
    margin-bottom: 2em;
}
.portfolio{
    background: white;
}
.portfolio-container a img{
    border-radius: 1em;
    margin-bottom: 2em;
    height: 250px;
}
.portfolio-container .featured-title{
    margin-top: 0.4em;
}
.portfolio-container .featured-desc{
    margin-top: -.9em;
}
.hero-design{
    place-self: center;
    height: 65%; width: 100%;
    /* border: 2px black solid; */
    transform: translateX(-50%);
}
.top-square{
    display: flex;
    /* border: #4c56da solid 1px; */
    height: 25%; width: 100%;
}
.top-center{
    display: flex;
    /* border: #4c56da solid 1px; */
    height: 25%; width: 100%;
}
.bottom-center{
    display: flex;
    /* border: #4c56da solid 1px; */
    height: 25%; width: 100%;
}
.bottom-square{
    display: flex;
    /* border: #4c56da solid 1px; */
    height: 25%; width: 100%;
}
.inner-square{
    /* border: #ff64cb solid 1px; */
    height: 100%; width: 25%;
    border-radius: 10px;
    visibility: hidden;
}

.top-square .inner-square:nth-of-type(3){
    background-color: #4c56da;
    visibility: visible;
}
.top-center .inner-square:nth-of-type(2){
    background-color: white;
    visibility: visible;
}
.top-center .inner-square:nth-of-type(3){
    border-radius: 50%;
    background-color: #ff64cb;
    visibility: visible;
}
.top-center .inner-square:nth-of-type(4){
    background-color: #c7cbff;
    visibility: visible;
}
.bottom-center .inner-square:nth-of-type(1){
    background-color: #887bff;
    visibility: visible;
}
.bottom-center .inner-square:nth-of-type(2){
    border-radius: 50%;
    background-color: #00e1ff;
    visibility: visible;
}
.bottom-center .inner-square:nth-of-type(3){
    background-color: #4c56da;
    visibility: visible;
}
.bottom-square .inner-square:nth-of-type(2){
    background-color: white;
    visibility: visible;
}
.footer>header{
    display: none;
}
.footer{
    display: block;
    text-align: center;
    position: relative;
    z-index: 1;
}
.footer>header{
    background: linear-gradient( rgba(67, 69, 194, 0.527), rgba(62, 81, 165, 0.466)), url(./images/geometric-shapes-wall-art-1-removebg-preview-removebg-preview.png);
    color: white;
    background-position: center;
    background-size: contain;
    height: 70px;
    place-items: center;
    font-size: larger;
}
.footer>header>nav>ul>li{
    padding:  0 2em ;
}
.footer>header>nav{
    margin-right: 5%;
}
.footer>div{
    background: #64ff92;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid; */
    padding: 25px 0;
    font-size: larger;
    font-weight: bold;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
}
.footer>div>span .div1{
    /* padding:0 5px; */
    margin: 0;
    /* border: 1px solid; */
}
.footer>div>span:hover .div2{
    width: 70px;
    visibility: visible;
    transition: width .5s, visibility .1s ;
}
.footer>div>span{
    color: #4c56da;
    position: relative;
    display: flex;
    justify-content: center;
    color: #4c56da;
}
.footer>div>span .div2{
    border: 1px solid;
    position: absolute;
    bottom: 1px;
    padding: 0;
    margin: 0;
    height: 0px;
    width: 0px;
    color: #4c56da;
    display: flex;
    visibility: hidden;
    transition: width .5s, visibility .1s .1s;
}

@media (max-width: 450px) {
    @keyframes scroll {
        0%{
            transform: translateY(0px);
        }100%{
            transform: translateY(25px);
        }
    }
    .nav-container ul a{
        font-size: smaller;
        margin: 0;
        padding: 0 .5em;
    }
    header{
        padding: 1.5em;
    }
    .hero{
        padding: 3em;
    }
    .hero h1{
        font-size: 1.5em;
    }
    .footer{
        font-size: smaller;
    }
    .meet{
        font-size: smaller;
    }
    .scroll{
        height: 40px;
        width: 15px
    }
    .scroll .scroll-circle{
        margin: 2px 1.5px;
        height: 10px;
        width: 65%;
        border-radius: 50%
    }

}

@media (min-width: 800px) {
    .featured, .portfolio{
        text-align: left;
    }
    .featured, .portfolio-container {
        display: grid;
        grid-template-columns: 40% auto;
    }
    .left, .portfolio-left {
        display: grid;
        place-content: center;
    }
    .right{
        margin-left: 2em;
        margin-top: 1em;
    }
    .skills-container ul{
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-gap: 1em;
    }
    .skills{
        margin-bottom: -7em;
    }
    .portfolio-container img{
        margin-left: 2em;
    }
    .footer>div{
        justify-content: space-between;
        padding: 2em 2em;
    }
}
@media (min-width: 1050px){
    .hero{
        height: 600px;
    }
    .nav-container{
        display: grid;
        grid-template-columns: 66% auto;
        background: unset;
    }
    .nav-container header{
        background: #3f48cc;
    }
    header{
        padding: 2em 2em 2em 4em;
    }
    .social-header{
        padding: 2em 2em 2em 0;
    }
    section{
        padding: 4em;
    }
    .social-header{
        display: block;
    }
    .social-header ul{
        display: flex;
        justify-content: space-between;
        width: 7em;
        float: right;
    }
    .social-header ul img{
        width: 20px;
    }
    .hero{
        display: grid;
        grid-template-columns: 66% auto;
        background: unset;
        padding: 0;
    }
    .hero .content{
        background: #4c56da;
        padding: 6em 8em 6em 4em;
        text-align: left;
    }
    .hero .content h1{
        font-size: 3em;
        line-height: 1.3em;
    }
    .meet{
        display: flex;
        justify-content: left;
        margin: unset;
        padding: 0;
    }
    .scroll-div{
        justify-content: left;
    }
    .portfolio img{
        float: right;
        max-width: 500px;
    }
    .content h1{
        max-width: 300px;
    }
    .footer{
        display: block;
        text-align: center;
        position: relative;
        z-index: 1;
    }
    .footer>header{
        background: linear-gradient( rgba(67, 69, 194, 0.527), rgba(62, 81, 165, 0.466)), url(./images/geometric-shapes-wall-art-1-removebg-preview-removebg-preview.png);
        color: white;
        background-position: center;
        background-size: contain;
        height: 70px;
        place-items: center;
        font-size: larger;
    }
    .footer>header>nav>ul>li{
        padding:  0 2em ;
    }
    .footer>header>nav{
        margin-right: 5%;
    }
    .footer::before{
        /* content: url(./images/artboard_71_copy_8_4x-removebg-preview.png); */
        position: absolute;
        /* width: 200px; */
        /* height: 200px; */
        border-radius: 50%;
        /* background-color: #bfffdf; */
        bottom: 0px;
        left: 0;
        z-index: 0;
    }
    
    .footer>div{
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: 1px solid; */
        padding-bottom: 25px;
        font-size: larger;
        font-weight: bold;
        font-family: 'Poppins',Arial, Helvetica, sans-serif;
    }
    .footer>div>span{
        position: relative;
        margin: 0 3px;
        padding: 0 ;
        border: none;
        background: transparent;
        color: #4c56da;
        display: flex;
        font-weight: 600;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        /* border: 1px solid; */
    }
    .footer>div>span .div1{
        padding:0 5px;
        margin: 0;
        /* border: 1px solid; */
    }
    .footer>div>span .div2{
        border: 1px solid;
        position: absolute;
        bottom: 2px;
        padding: 0;
        margin: 0;
        height: 0px;
        width: 0px;
        background-color: #4c56da;
        display: flex;
        visibility: hidden;
        transition: width .5s, visibility .1s .1s;
    }
    .footer>div>span:hover .div2{
        width: 70px;
        visibility: visible;
        transition: width .5s, visibility .1s ;
    }
    .footer>div>span:hover{
        background: transparent;
        color: #4c56da;
    }
}
@media (min-width: 1250px) {
    header{
        padding: 2em 2em 2em 10em;
    }
    .social-header{
        padding: 2em 10em 2em 0em;
    }
    section{
        padding: 10em 10em 4em 10em;
    }
    .hero .content{
        padding: 6em 8em 6em 10em;
    }
    .footer{
        text-align: center;
        position: relative;
        z-index: 1;
    }
    .footer>header{
        background: linear-gradient( rgba(67, 69, 194, 0.527), rgba(62, 81, 165, 0.466)), url(./images/geometric-shapes-wall-art-1-removebg-preview-removebg-preview.png);
        color: white;
        background-position: center;
        background-size: contain;
        height: 70px;
        place-items: center;
        font-size: larger;
    }
    .footer>header>nav>ul>li{
        padding:  0 2em ;
    }
    .footer>header>nav{
        margin-right: 5%;
    }
    .footer::before{
        /* content: url(./images/artboard_71_copy_8_4x-removebg-preview.png); */
        position: absolute;
        /* width: 200px; */
        /* height: 200px; */
        border-radius: 50%;
        /* background-color: #bfffdf; */
        bottom: 0px;
        left: 0;
        z-index: 0;
    }
    .footer>div{
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: 1px solid; */
        padding-bottom: 25px;
        font-size: larger;
        font-weight: bold;
        font-family: 'Poppins',Arial, Helvetica, sans-serif;
    }
    .footer>div>span{
        position: relative;
        margin: 0 3px;
        padding: 0 ;
        border: none;
        background: transparent;
        color: #4c56da;
        display: flex;
        font-weight: 600;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        /* border: 1px solid; */
    }
    .footer>div>span .div1{
        padding:0 5px;
        margin: 0;
        /* border: 1px solid; */
    }
    .footer>div>span .div2{
        border: 1px solid;
        position: absolute;
        bottom: 2px;
        padding: 0;
        margin: 0;
        height: 0px;
        width: 0px;
        background-color: #4c56da;
        display: flex;
        visibility: hidden;
        transition: width .5s, visibility .1s .1s;
    }
    .footer>div>span:hover .div2{
        width: 70px;
        visibility: visible;
        transition: width .5s, visibility .1s ;
    }
    .footer>div>span:hover{
        background: transparent;
        color: #4c56da;
    }
}
@media (min-width: 1550px) {
    header{
        padding: 2em 2em 2em 20em;
    }
    .social-header{
        padding: 2em 20em 2em 0em;
    }
    section{
        padding: 10em 10em 4em 20em;
    }
    .hero .content{
        padding: 9em 20em 6em 20em;
    }
    .footer>header{
        background: #3f48cc;
        color: white;
    }
}